# Compiler files
contracts/cache/
contracts/out/

# Ignores development broadcast logs
!/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/*/421614/
contracts/broadcast/**/dry-run/

# Docs
contracts/docs/

# Dotenv file
.env
relayer/.env

# Circuits
/circuits/target

# Rust relayer artifacts
relayer/target

/node_modules
nextra-docs/node_modules
sdk/node_modules

/.vscode

frontend/.npm-cache
sdk/.npm-cache

nextra-docs/.next